In [1]:
import pandas as pd
import numpy as np

In [2]:
lst_str_cols = ['R_OS_ID', 'MATERIAL_ID', 'STEEL_GRADE']
dict_dtypes = {x : 'str'  for x in lst_str_cols}
data = pd.read_csv('data_clean.csv', dtype=dict_dtypes)

R_OS_ID
This is an unique ID for each individual process. Everything that happens (a production process, relocation of an item, a quality check etc.) has a operation step ID.

MATERIAL_ID
This is an unique ID for each product item. This ID remains the same throughout all process steps and can be used to aggregate data of different steps. 

PRODUCTION_LINE_NAME
This column holds the information about the production line on which a process step takes place. As also non-technical processes are covered, it might also contain additional entries. In the following list (also available as xlsx-file), the description is given:

| **PRODUCTION\_LINE\_NAME** | **DESCRIPTION**                       |
| -------------------------- | ------------------------------------- |
| **ANN**                    | ANN - Announcement                    |
| **ATT**                    | ATT - Attach                          |
| **B\_IN**                  | B\_IN - Book in                       |
| **B\_OUT**                 | B\_OUT - Book out                     |
| **BAF**                    | BAF - Set of batch annealing furnaces |
| **BAF01**                  | BAF01 - Batch annealing furnace 01    |
| **BAF02**                  | BAF02 - Batch annealing furnace 02    |
| **BAF03**                  | BAF03 - Batch annealing furnace 03    |
| **BAF04**                  | BAF04 - Batch annealing furnace 04    |
| **BAF05**                  | BAF05 - Batch annealing furnace 05    |
| **BAF06**                  | BAF06 - Batch annealing furnace 06    |
| **BAF07**                  | BAF07 - Batch annealing furnace 07    |
| **BAF08**                  | BAF08 - Batch annealing furnace 08    |
| **BAF09**                  | BAF09 - Batch annealing furnace 09    |
| **BAF10**                  | BAF10 - Batch annealing furnace 10    |
| **BAF11**                  | BAF11 - Batch annealing furnace 11    |
| **BAF12**                  | BAF12 - Batch annealing furnace 12    |
| **BAF13**                  | BAF13 - Batch annealing furnace 13    |
| **BAF14**                  | BAF14 - Batch annealing furnace 14    |
| **BAF15**                  | BAF15 - Batch annealing furnace 15    |
| **BAF16**                  | BAF16 - Batch annealing furnace 16    |
| **BAF17**                  | BAF17 - Batch annealing furnace 17    |
| **BAF18**                  | BAF18 - Batch annealing furnace 18    |
| **BAF19**                  | BAF19 - Batch annealing furnace 19    |
| **BAF20**                  | BAF20 - Batch annealing furnace 20    |
| **BAF21**                  | BAF21 - Batch annealing furnace 21    |
| **BAF22**                  | BAF22 - Batch annealing furnace 22    |
| **BAF23**                  | BAF23 - Batch annealing furnace 23    |
| **BAF24**                  | BAF24 - Batch annealing furnace 24    |
| **CCM1**                   | CCM1 - CSP Caster 1                   |
| **CGL1**                   | CGL1 - Cont. galvanizing line 1       |
| **CGL1R**                  | CGL1R - CGL1 entry reject             |
| **CSP1**                   | CSP - CSP line 1                      |
| **CY**                     | CY - Coil yard                        |
| **DC3**                    | DC3 - Manual change                   |
| **DEL**                    | DEL - Delivery                        |
| **DISP**                   | DISP - Dispatch                       |
| **EAF1**                   | EAF1 - Electr. arc furnace            |
| **EDTLOC**                 | EDTLOC - Location change              |
| **HSC**                    | HSC - Hot mill sample cut             |
| **HSM**                    | HSM - CSP Hot strip mill              |
| **INSP\_C**                | INSP\_C - Coil inspection             |
| **INTAKE**                 | INTAKE - Coil intake                  |
| **LAB**                    | LAB - Laboratory                      |
| **LF1**                    | LF1 - Ladle furnace                   |
| **MAT\_COR**               | MAT\_COR - Data correction            |
| **OP**                     | Outside processing                    |
| **PLR**                    | PLR - PLTCM entry reject              |
| **PLTCM**                  | PLTCM - Pickling tandem line          |
| **PSH**                    | PSH - Shipment planned                |
| **QC**                     | QC - Quality check                    |
| **RDY**                    | RDY - Ready                           |
| **RH1**                    | RH1 - Vacuum degassing                |
| **SPM1**                   | SPM1 - Skin pass mill 1               |
| **SPM1R**                  | SPM1R - SPM1 entry reject             |
| **TF1**                    | TF1 - Tunnel furnace 1                |

START_DATE 
The date time of the start of the given process instance.

END_DATE 
The date time of the end of the given process instance.

STEEL_GRADE 
This column describes, which steel grade the product item is made of. The steel grades are just represented by IDs.

WIDTH 
This column contains the normalized width values of the products. In case a process refers to heats and not slabs or coils, the value might be zero.

WEIGHT
This column contains the normalized weight values of the products. In case a process refers to heats, the weight might be higher, while slabs or coils typically would have lower values.

THICKNESS
This column contains the normalized thickness values of the products. In case a process refers to heats and not slabs or coils, the value might be zero.

LENGTH
This column contains the normalized length values of the products. In case a process refers to heats and not slabs or coils, the value might be zero.

DURATION
This column contains the process instance duration in full time-delta format.

DURATION_SECONDS
This column contains the process instance duration in seconds.

In [3]:
data

,Unnamed: 0,R_OS_ID,MATERIAL_ID,PRODUCTION_LINE_NAME,START_DATE,END_DATE,STEEL_GRADE,WIDTH,WEIGHT,THICKNESS,LENGTH,DURATION,DURATION_SECONDS
0,0,2567987.0,1589415.0,EAF1,2018-06-27 03:19:59,2018-06-27 03:55:50,3.0,0.000000,0.863762,0.000000,0.000000,0 days 00:35:51,2151.0
1,1,2567987.0,1589421.0,EAF1,2018-06-27 03:19:59,2018-06-27 03:55:50,3.0,0.000000,0.863762,0.000000,0.000000,0 days 00:35:51,2151.0
2,2,2567987.0,1589424.0,EAF1,2018-06-27 03:19:59,2018-06-27 03:55:50,3.0,0.000000,0.863762,0.000000,0.000000,0 days 00:35:51,2151.0
3,3,2568127.0,1589415.0,LF1,2018-06-27 03:56:03,2018-06-27 04:54:10,3.0,0.000000,0.871686,0.000000,0.000000,0 days 00:58:07,3487.0
4,4,2568127.0,1589421.0,LF1,2018-06-27 03:56:03,2018-06-27 04:54:10,3.0,0.000000,0.871686,0.000000,0.000000,0 days 00:58:07,3487.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1569864,1573714,NaN,NaN,HSM,2019-06-03 16:57:28,2019-03-06 16:57:28,NaN,0.715020,0.041554,0.220425,0.000306,-89 days +00:00:00,-7689600.0
1569865,1573715,NaN,NaN,HSM,2019-06-03 16:57:28,2019-03-06 16:57:28,NaN,0.715020,0.041554,0.220425,0.000306,-89 days +00:00:00,-7689600.0
1569866,1573716,NaN,NaN,HSM,2019-06-03 16:57:28,2019-03-06 16:57:28,NaN,0.715020,0.041554,0.220425,0.000306,-89 days +00:00:00,-7689600.0
1569867,1573717,NaN,NaN,HSM,2019-06-03 16:57:28,2019-03-06 16:57:28,NaN,0.715020,0.021366,0.220425,0.000306,-89 days +00:00:00,-7689600.0
1569868,1573718,NaN,NaN,PLTCM,2019-12-02 04:59:36,2019-02-12 05:36:34,NaN,0.710006,0.056524,0.019660,0.033334,-293 days +00:36:58,-25312982.0

In [4]:
print(" \nCount total NaN at each column : \n\n",
      data.isnull().sum())

Count total NaN at each column :

 Unnamed: 0                 0
R_OS_ID                 3843
MATERIAL_ID             3843
PRODUCTION_LINE_NAME       0
START_DATE                 0
END_DATE                   0
STEEL_GRADE             3843
WIDTH                      0
WEIGHT                     0
THICKNESS                  0
LENGTH                     0
DURATION                   0
DURATION_SECONDS           0
dtype: int64

In [5]:
data.groupby(['R_OS_ID']).count()

,Unnamed: 0,MATERIAL_ID,PRODUCTION_LINE_NAME,START_DATE,END_DATE,STEEL_GRADE,WIDTH,WEIGHT,THICKNESS,LENGTH,DURATION,DURATION_SECONDS
R_OS_ID,,,,,,,,,,,,
2567987.0,3,3,3,3,3,3,3,3,3,3,3,3
2568127.0,3,3,3,3,3,3,3,3,3,3,3,3
2594665.0,5,5,5,5,5,5,5,5,5,5,5,5
2594847.0,6,6,6,6,6,6,6,6,6,6,6,6
2595045.0,5,5,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
19878033.0,1,1,1,1,1,1,1,1,1,1,1,1
19878035.0,1,1,1,1,1,1,1,1,1,1,1,1
19878037.0,1,1,1,1,1,1,1,1,1,1,1,1
19878039.0,1,1,1,1,1,1,1,1,1,1,1,1
19941711.0,1,1,1,1,1,1,1,1,1,1,1,1

In [6]:
# Focus on one unique ID (individual process)
data[data["R_OS_ID"] == '2594847']

# Seems to be duplicate rows

,Unnamed: 0,R_OS_ID,MATERIAL_ID,PRODUCTION_LINE_NAME,START_DATE,END_DATE,STEEL_GRADE,WIDTH,WEIGHT,THICKNESS,LENGTH,DURATION,DURATION_SECONDS
11,11,2594847.0,1359483.0,EAF1,2018-06-30 14:46:22,2018-06-30 15:26:50,2.0,0.0,0.858558,0.0,0.0,0 days 00:40:28,2428.0
12,12,2594847.0,1359486.0,EAF1,2018-06-30 14:46:22,2018-06-30 15:26:50,2.0,0.0,0.858558,0.0,0.0,0 days 00:40:28,2428.0
13,13,2594847.0,1359489.0,EAF1,2018-06-30 14:46:22,2018-06-30 15:26:50,2.0,0.0,0.858558,0.0,0.0,0 days 00:40:28,2428.0
14,14,2594847.0,1359492.0,EAF1,2018-06-30 14:46:22,2018-06-30 15:26:50,2.0,0.0,0.858558,0.0,0.0,0 days 00:40:28,2428.0
15,15,2594847.0,1359495.0,EAF1,2018-06-30 14:46:22,2018-06-30 15:26:50,2.0,0.0,0.858558,0.0,0.0,0 days 00:40:28,2428.0
16,16,2594847.0,1359498.0,EAF1,2018-06-30 14:46:22,2018-06-30 15:26:50,2.0,0.0,0.858558,0.0,0.0,0 days 00:40:28,2428.0

R_OS_ID is an unique ID for each individual process. Everything that happens has a operation step ID.

The MATERIAL_ID is an unique ID for each product item. This ID remains the same throughout all process steps and can be used to aggregate data of different steps.

PRODUCTION_LINE_NAME This column holds the information about the production line on which a process step takes place. As also non-technical processes are covered, it might also contain additional entries. In the following list (also available as xlsx-file), the description is given:

In [7]:
# Focus on unique ID product item
data.groupby(['MATERIAL_ID']).count()

,Unnamed: 0,R_OS_ID,PRODUCTION_LINE_NAME,START_DATE,END_DATE,STEEL_GRADE,WIDTH,WEIGHT,THICKNESS,LENGTH,DURATION,DURATION_SECONDS
MATERIAL_ID,,,,,,,,,,,,
114720.0,9,9,9,9,9,9,9,9,9,9,9,9
114723.0,8,8,8,8,8,8,8,8,8,8,8,8
114726.0,7,7,7,7,7,7,7,7,7,7,7,7
469137.0,8,8,8,8,8,8,8,8,8,8,8,8
470685.0,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2206473.0,3,3,3,3,3,3,3,3,3,3,3,3
2206479.0,3,3,3,3,3,3,3,3,3,3,3,3
2206494.0,4,4,4,4,4,4,4,4,4,4,4,4
2206497.0,4,4,4,4,4,4,4,4,4,4,4,4
2206500.0,2,2,2,2,2,2,2,2,2,2,2,2

In [8]:
data[data['MATERIAL_ID'] == '1359483']

,Unnamed: 0,R_OS_ID,MATERIAL_ID,PRODUCTION_LINE_NAME,START_DATE,END_DATE,STEEL_GRADE,WIDTH,WEIGHT,THICKNESS,LENGTH,DURATION,DURATION_SECONDS
11,11,2594847.0,1359483.0,EAF1,2018-06-30 14:46:22,2018-06-30 15:26:50,2.0,0.000000,0.858558,0.000000,0.000000,0 days 00:40:28,2428.0
28,28,2595183.0,1359483.0,LF1,2018-06-30 15:27:09,2018-06-30 16:30:42,2.0,0.000000,0.888235,0.000000,0.000000,0 days 01:03:33,3813.0
134,135,2595521.0,1359483.0,PLTCM,2018-06-30 19:18:42,2018-06-30 19:51:36,2.0,0.572802,0.152588,0.008051,0.349717,0 days 00:32:54,1974.0
135,136,2595521.0,1359483.0,CCM1,2018-06-30 17:21:24,2018-06-30 17:28:49,2.0,0.560872,0.160399,0.770115,0.004159,0 days 00:07:25,445.0
136,137,2595521.0,1359483.0,CCM1,2018-06-30 17:28:49,2018-06-30 17:28:49,2.0,0.000000,0.019639,0.000000,0.000000,0 days 00:00:00,0.0
137,138,2595521.0,1359483.0,CCM1,2018-06-30 17:28:49,2018-06-30 17:28:49,2.0,0.555765,0.160417,0.770115,0.004161,0 days 00:00:00,0.0
138,139,2595521.0,1359483.0,CCM1,2018-06-30 17:28:49,2018-06-30 17:28:49,2.0,0.561337,0.160399,0.770115,0.004117,0 days 00:00:00,0.0
139,140,2595521.0,1359483.0,CCM1,2018-06-30 17:28:49,2018-06-30 17:28:49,2.0,0.562729,0.160411,0.770115,0.004117,0 days 00:00:00,0.0
140,141,2595521.0,1359483.0,CCM1,2018-06-30 17:28:49,2018-06-30 17:28:49,2.0,0.565051,0.149090,0.770115,0.003768,0 days 00:00:00,0.0
203,204,2595571.0,1359483.0,DC3,2018-06-30 17:40:39,2018-06-30 17:40:39,2.0,0.649553,0.139253,0.014303,0.154852,0 days 00:00:00,0.0
204,205,2595573.0,1359483.0,TF1,2018-06-30 17:22:23,2018-06-30 17:39:13,2.0,0.565051,0.149090,0.770115,0.003768,0 days 00:16:50,1010.0
205,206,2595575.0,1359483.0,HSM,2018-06-30 17:39:37,2018-06-30 17:42:31,2.0,0.565823,0.146759,0.029338,0.090941,0 days 00:02:54,174.0
206,207,2595577.0,1359483.0,QC,2018-06-30 17:43:34,2018-06-30 18:22:19,2.0,0.565823,0.146759,0.029338,0.090941,0 days 00:38:45,2325.0
82909,83078,2705409.0,1359483.0,EDTLOC,2018-07-19 06:32:27,2018-07-19 06:32:27,2.0,0.614120,0.140241,0.056361,0.041495,0 days 00:00:00,0.0
83378,83547,2706157.0,1359483.0,CCM1,2018-07-19 08:50:46,2018-07-19 08:50:46,2.0,0.588730,0.140339,0.712644,0.003632,0 days 00:00:00,0.0
83379,83548,2706159.0,1359483.0,CCM1,2018-07-19 08:50:46,2018-07-19 08:50:46,2.0,0.588730,0.140339,0.712644,0.003632,0 days 00:00:00,0.0
83387,83556,2706177.0,1359483.0,PSH,2018-07-19 08:13:33,2018-07-19 08:13:33,2.0,0.571087,0.077615,0.010624,0.117248,0 days 00:00:00,0.0
97976,98155,2726927.0,1359483.0,PLTCM,2018-07-22 11:06:48,2018-07-22 11:54:45,2.0,0.492090,0.124370,0.005043,0.512192,0 days 00:47:57,2877.0
97977,98156,2726927.0,1359483.0,QC,2018-07-22 10:08:20,2018-07-23 12:38:29,2.0,0.853014,0.120349,0.108005,0.013193,1 days 02:30:09,95409.0
97978,98157,2726927.0,1359483.0,QC,2018-07-22 10:08:24,2018-07-23 12:38:30,2.0,0.854005,0.121344,0.107920,0.013315,1 days 02:30:06,95406.0

In [9]:
# Find duplicates 
df_no = data[list(data.columns)[1:]]
duplicates = df_no[df_no.duplicated(keep='first')]
duplicates

,R_OS_ID,MATERIAL_ID,PRODUCTION_LINE_NAME,START_DATE,END_DATE,STEEL_GRADE,WIDTH,WEIGHT,THICKNESS,LENGTH,DURATION,DURATION_SECONDS
689,2596397.0,1359537.0,LF1,2018-06-30 18:49:54,2018-06-30 20:03:41,2.0,0.00000,0.887121,0.000000,0.000000,0 days 01:13:47,4427.0
1092,2596979.0,1359588.0,LF1,2018-06-30 21:06:18,2018-06-30 22:17:29,2.0,0.00000,0.862067,0.000000,0.000000,0 days 01:11:11,4271.0
2909,2599431.0,1363770.0,EAF1,2018-01-07 09:58:08,2018-07-01 10:33:19,27.0,0.00000,0.879508,0.000000,0.000000,175 days 00:35:11,15122111.0
4670,2601687.0,1364025.0,LF1,2018-01-07 18:00:46,2018-07-01 18:54:27,0.0,0.00000,0.853448,0.000000,0.000000,175 days 00:53:41,15123221.0
4671,2601687.0,1364025.0,LF1,2018-01-07 18:00:46,2018-07-01 18:54:27,0.0,0.00000,0.853448,0.000000,0.000000,175 days 00:53:41,15123221.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1569862,NaN,NaN,HSM,2019-06-03 16:57:28,2019-03-06 16:57:28,NaN,0.71502,0.037516,0.220425,0.000306,-89 days +00:00:00,-7689600.0
1569863,NaN,NaN,HSM,2019-06-03 16:57:28,2019-03-06 16:57:28,NaN,0.71502,0.041554,0.220425,0.000306,-89 days +00:00:00,-7689600.0
1569864,NaN,NaN,HSM,2019-06-03 16:57:28,2019-03-06 16:57:28,NaN,0.71502,0.041554,0.220425,0.000306,-89 days +00:00:00,-7689600.0
1569865,NaN,NaN,HSM,2019-06-03 16:57:28,2019-03-06 16:57:28,NaN,0.71502,0.041554,0.220425,0.000306,-89 days +00:00:00,-7689600.0
1569866,NaN,NaN,HSM,2019-06-03 16:57:28,2019-03-06 16:57:28,NaN,0.71502,0.041554,0.220425,0.000306,-89 days +00:00:00,-7689600.0

In [10]:
# % of duplicate rows
len(duplicates) / len(data) * 100

1.922389702580279

In [11]:
df = df_no.drop_duplicates().copy()
len(df) + len(duplicates) == len(data)

True

In [12]:
print(" \nCount total NaN at each column : \n\n",
      df.isnull().sum())

Count total NaN at each column :

 R_OS_ID                 3580
MATERIAL_ID             3580
PRODUCTION_LINE_NAME       0
START_DATE                 0
END_DATE                   0
STEEL_GRADE             3580
WIDTH                      0
WEIGHT                     0
THICKNESS                  0
LENGTH                     0
DURATION                   0
DURATION_SECONDS           0
dtype: int64

df['MATERIAL_ID'] = df['MATERIAL_ID'].fillna(-1)
df['MATERIAL_ID'] = df['MATERIAL_ID'].astype(int)
df['MATERIAL_ID'] = df['MATERIAL_ID'].astype(str)
df['MATERIAL_ID'] = df['MATERIAL_ID'].replace('-1', np.nan)

df['R_OS_ID'] = df['R_OS_ID'].fillna(-1)
df['R_OS_ID'] = df['R_OS_ID'].astype(int)
df['R_OS_ID'] = df['R_OS_ID'].astype(str)
df['R_OS_ID'] = df['R_OS_ID'].replace('-1', np.nan)

df['STEEL_GRADE'] = df['STEEL_GRADE'].fillna(-1)
df['STEEL_GRADE'] = df['STEEL_GRADE'].astype(int)
df['STEEL_GRADE'] = df['STEEL_GRADE'].astype(str)
df['STEEL_GRADE'] = df['STEEL_GRADE'].replace('-1', np.nan)

In [14]:
# Focus on unique ID product item
df[df['MATERIAL_ID'] == '1359483']

,R_OS_ID,MATERIAL_ID,PRODUCTION_LINE_NAME,START_DATE,END_DATE,STEEL_GRADE,WIDTH,WEIGHT,THICKNESS,LENGTH,DURATION,DURATION_SECONDS
11,2594847,1359483,EAF1,2018-06-30 14:46:22,2018-06-30 15:26:50,2,0.000000,0.858558,0.000000,0.000000,0 days 00:40:28,2428.0
28,2595183,1359483,LF1,2018-06-30 15:27:09,2018-06-30 16:30:42,2,0.000000,0.888235,0.000000,0.000000,0 days 01:03:33,3813.0
134,2595521,1359483,PLTCM,2018-06-30 19:18:42,2018-06-30 19:51:36,2,0.572802,0.152588,0.008051,0.349717,0 days 00:32:54,1974.0
135,2595521,1359483,CCM1,2018-06-30 17:21:24,2018-06-30 17:28:49,2,0.560872,0.160399,0.770115,0.004159,0 days 00:07:25,445.0
136,2595521,1359483,CCM1,2018-06-30 17:28:49,2018-06-30 17:28:49,2,0.000000,0.019639,0.000000,0.000000,0 days 00:00:00,0.0
137,2595521,1359483,CCM1,2018-06-30 17:28:49,2018-06-30 17:28:49,2,0.555765,0.160417,0.770115,0.004161,0 days 00:00:00,0.0
138,2595521,1359483,CCM1,2018-06-30 17:28:49,2018-06-30 17:28:49,2,0.561337,0.160399,0.770115,0.004117,0 days 00:00:00,0.0
139,2595521,1359483,CCM1,2018-06-30 17:28:49,2018-06-30 17:28:49,2,0.562729,0.160411,0.770115,0.004117,0 days 00:00:00,0.0
140,2595521,1359483,CCM1,2018-06-30 17:28:49,2018-06-30 17:28:49,2,0.565051,0.149090,0.770115,0.003768,0 days 00:00:00,0.0
203,2595571,1359483,DC3,2018-06-30 17:40:39,2018-06-30 17:40:39,2,0.649553,0.139253,0.014303,0.154852,0 days 00:00:00,0.0
204,2595573,1359483,TF1,2018-06-30 17:22:23,2018-06-30 17:39:13,2,0.565051,0.149090,0.770115,0.003768,0 days 00:16:50,1010.0
205,2595575,1359483,HSM,2018-06-30 17:39:37,2018-06-30 17:42:31,2,0.565823,0.146759,0.029338,0.090941,0 days 00:02:54,174.0
206,2595577,1359483,QC,2018-06-30 17:43:34,2018-06-30 18:22:19,2,0.565823,0.146759,0.029338,0.090941,0 days 00:38:45,2325.0
82909,2705409,1359483,EDTLOC,2018-07-19 06:32:27,2018-07-19 06:32:27,2,0.614120,0.140241,0.056361,0.041495,0 days 00:00:00,0.0
83378,2706157,1359483,CCM1,2018-07-19 08:50:46,2018-07-19 08:50:46,2,0.588730,0.140339,0.712644,0.003632,0 days 00:00:00,0.0
83379,2706159,1359483,CCM1,2018-07-19 08:50:46,2018-07-19 08:50:46,2,0.588730,0.140339,0.712644,0.003632,0 days 00:00:00,0.0
83387,2706177,1359483,PSH,2018-07-19 08:13:33,2018-07-19 08:13:33,2,0.571087,0.077615,0.010624,0.117248,0 days 00:00:00,0.0
97976,2726927,1359483,PLTCM,2018-07-22 11:06:48,2018-07-22 11:54:45,2,0.492090,0.124370,0.005043,0.512192,0 days 00:47:57,2877.0
97977,2726927,1359483,QC,2018-07-22 10:08:20,2018-07-23 12:38:29,2,0.853014,0.120349,0.108005,0.013193,1 days 02:30:09,95409.0
97978,2726927,1359483,QC,2018-07-22 10:08:24,2018-07-23 12:38:30,2,0.854005,0.121344,0.107920,0.013315,1 days 02:30:06,95406.0

In [21]:
# Filter out negative duration time
df = df[df["DURATION_SECONDS"] >= 0]

In [22]:
df.to_csv('final_data.csv', index=False)

In [23]:
df

,R_OS_ID,MATERIAL_ID,PRODUCTION_LINE_NAME,START_DATE,END_DATE,STEEL_GRADE,WIDTH,WEIGHT,THICKNESS,LENGTH,DURATION,DURATION_SECONDS
0,2567987,1589415,EAF1,2018-06-27 03:19:59,2018-06-27 03:55:50,3,0.000000,0.863762,0.000000,0.000000,0 days 00:35:51,2151.0
1,2567987,1589421,EAF1,2018-06-27 03:19:59,2018-06-27 03:55:50,3,0.000000,0.863762,0.000000,0.000000,0 days 00:35:51,2151.0
2,2567987,1589424,EAF1,2018-06-27 03:19:59,2018-06-27 03:55:50,3,0.000000,0.863762,0.000000,0.000000,0 days 00:35:51,2151.0
3,2568127,1589415,LF1,2018-06-27 03:56:03,2018-06-27 04:54:10,3,0.000000,0.871686,0.000000,0.000000,0 days 00:58:07,3487.0
4,2568127,1589421,LF1,2018-06-27 03:56:03,2018-06-27 04:54:10,3,0.000000,0.871686,0.000000,0.000000,0 days 00:58:07,3487.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1569854,NaN,NaN,HSM,2019-06-30 16:57:41,2019-06-30 16:59:39,NaN,0.727625,0.138165,0.055171,0.035560,0 days 00:01:58,118.0
1569855,NaN,NaN,QC,2019-06-30 17:00:39,2019-07-01 00:29:40,NaN,0.727625,0.138165,0.055171,0.035560,0 days 07:29:01,26941.0
1569856,NaN,NaN,EDTLOC,2019-06-30 16:59:48,2019-06-30 16:59:48,NaN,0.727625,0.138165,0.055171,0.035560,0 days 00:00:00,0.0
1569857,NaN,NaN,PLTCM,2019-02-28 22:20:07,2019-02-28 23:35:01,NaN,0.596809,0.058463,0.025368,0.032051,0 days 01:14:54,4494.0
1569859,NaN,NaN,PLTCM,2019-02-28 22:20:07,2019-02-28 23:35:01,NaN,0.596809,0.098445,0.025368,0.063216,0 days 01:14:54,4494.0